#info_msg {
    padding: 1 2;
    text-style: italic;
}

#listview_header {
    padding: 1 2;
    width: 100%;
    text-align: center;
    text-style: bold;
}

ListView {
    height: auto;
}

CondaEnvironment {
    layout: horizontal;
}

CondaEnvironment > Static {
    padding: 1 2;
    width: auto;
}